/* 
===================
    GLOBALS:START
===================
*/

::selection {
  background: #e76e6e; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #ec6a6a; /* Gecko Browsers */
  color: white;
}

$lime: #20aa73;
$blue: rgb(35, 166, 226);
$yellow: rgb(233, 199, 47);

.button {
  display: inline-block !important;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 35px 13px 35px;
  border-radius: 4px;
  margin: 10px;
  border: none;
  z-index: 3;

  > a {
    text-decoration: none;
    color: white;
  }

  &--green {
    background-color: #20aa73;
  }
  &--red {
    background-color: #e96656;
  }
}

/* 
===================
    GLOBALS:END
===================
*/

/* 
===================
  NAV:START
===================
*/

.nav {
  background-color: white;
  z-index: 4;
  position: fixed;
  top: 0px;
  height: 80px;
  width: 100%;
  padding-left: 20%;
  display: flex;
  align-items: center;

  &__img {
    height: 32px;
    width: 109px;
  }
  &__list {
    margin-left: 30%;
    display: flex;
    gap: 25px;
    &__item {
      &--card::before {
        content: "";
        background: url(../images/Shopping-cart.svg);
        display: inline-block;
        height: 15px;
        width: 15px;
      }
      &--arrow::after {
        content: "";
        background-image: url(../images/Caret_down.svg);

        display: inline-block;
        height: 15px;
        width: 15px;
      }

      font-family: inherit;
      list-style-type: none;
      &__link {
        text-decoration: none;
        color: black;
        &:hover {
          color: red;
        }
      }
    }
  }
  &__hamburger {
    display: none;
  }

  @media (max-width: 750px) {
    & {
      padding-left: 0px;
      position: static;
    }
    &__list {
      display: none;
    }
    &__hamburger {
      background-color: grey;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      margin-left: auto;
      margin-right: 5%;
      width: 60px;
      border-radius: 10%;
    }
  }
  @media (max-width: 450px) {
    & {
      height: 100px;
      flex-direction: column;
      gap: 20px;
    }
    &__hamburger {
      margin: 0 0 0 0;
      width: 90vw;
      border-radius: 5%;
    }
  }
}

/* 
===================
      NAV:END
===================
*/

/* 
===================
    HEADER:START
===================
*/
.header {
  position: relative;
  height: 500px;
  background: url(../images/bacground_1.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__heading {
    font-size: clamp(2rem, 5vw, 60px);
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 2;
  }
  &__buttons {
    z-index: 2;
  }
  &::before {
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: 1;
    content: " ";
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
}

/* 
===================
    HEADER:END
===================
*/

/* 
===================
    UNIQUE:START
===================
*/

.unique {
  text-align: center;
  padding-bottom: 10vh;
  &__heading {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 700;
    font-size: clamp(1.5rem, 4vw, 3rem);
  }
  &__paragraph {
    font-family: "Montserrat", Helvetica, sans-serif;
    margin-top: 0px;
    padding-bottom: 3rem;
    width: 100%;
  }

  &__container {
    margin-left: clamp(1vw, 8vw, 10vw);
    margin-right: clamp(1vw, 8vw, 10vw);
    @media (max-width: 750px) {
      & {
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }

    justify-content: space-evenly;
    display: flex;
    gap: clamp(1vw, 2vw, 3vw);
    &__item {
      position: relative;

      &__heading {
        margin-bottom: 30px;
        &::before {
          position: absolute;
          content: "";
          z-index: 1;
          height: 2px;
          width: 35%;
          bottom: 35%;
          left: 30%;
        }
        &--red::before {
          background-color: red;
        }
        &--lime::before {
          background-color: $lime;
        }
        &--blue::before {
          background-color: $blue;
        }
        &--yellow::before {
          background-color: $yellow;
        }
      }

      &__ring {
        display: block;
        margin-bottom: 30px;
        width: 135px;
        height: 135px;
        margin: auto;
        border-radius: 50%;
        border: 10px solid #ececec;
        margin-bottom: 20px;
        position: relative;
        transition: all 0.2s ease-in-out;

        &--red:hover {
          border-color: red;
        }
        &--lime:hover {
          border-color: $lime;
        }
        &--blue:hover {
          border-color: $blue;
        }
        &--yellow:hover {
          border-color: $yellow;
        }
      }
      &__icon {
        &--1 {
          background: url(../images/unique_1.png) no-repeat center;
        }
        &--2 {
          background: url(../images/unique_2.png) no-repeat center;
        }
        &--3 {
          background: url(../images/unique_3.png) no-repeat center;
        }
        &--4 {
          background: url(../images/unique_4.png) no-repeat center;
        }
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: block;
      }
    }
  }
}
/* 
===================
    UNIQUE:END
===================
*/

/* 
===================
    PARALAX:START
===================
*/

.paralax {
  &__container {
    justify-content: center;
    align-items: center;
    gap: 100px;
    display: flex;
    height: 250px;
    width: 100%;
    background: url(../images/bacground_1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    &::before {
      position: absolute;
      width: 100%;
      height: 250px;
      z-index: 1;
      content: " ";
      background-color: rgba(233, 102, 86, 0.4);
    }
    &__heading {
      color: white;
      z-index: 2;
    }
  }
}

/* 
===================
    PARALAX:END
===================
*/

/* 
===================
    FOOTER:START
===================
*/

.footer {
  background-color: #272727;
  height: 200px;
  &__container {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 150px;
    margin-left: 20%;
    margin-right: 20%;
  }
}

/* 
===================
    FOOTER:END
===================
*/
